# Core
streamlit
python-dotenv
numpy==1.26.4
pandas==2.2.2

# PDF handling
camelot-py[cv]
PyPDF2
streamlit-pdf-viewer

# Database / Vector Store
protobuf==3.20.3
chromadb==0.4.24
pysqlite3-binary
sentence-transformers

# LangChain + Groq
langchain
langchain-core
langchain-groq
