# Core
streamlit
python-dotenv
pandas
numpy

# PDF handling
camelot-py[cv]
PyPDF2
streamlit-pdf-viewer

# Database / Vector Store
chromadb
pysqlite3
sentence-transformers

# LangChain + Groq
langchain
langchain-core
langchain-groq
