# Core
streamlit
python-dotenv
pandas
numpy

# PDF handling
camelot-py[cv]
PyPDF2
streamlit-pdf-viewer
pysqlite3-binary

# Database / Vector Store
chromadb
sentence-transformers

# LangChain + Groq
langchain
langchain-core
langchain-groq
